/* Your CSS Code here. */
.row,.col-sm-1,.img-fluid{
	display: inline ;
	width: 75px;
	height: 75px;
}
.row,.col-sm-2,.img-fluid{
	display: inline ;
	width: 75px;
	height: 75px;
}
.col-sm-4,.img-fluid{
	display: inline ;
	width: 75px;
	height: 75px;
}
